---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/about.css" type="text/css">
<div class="p2 p-responsive wrap about-post" role="main">
  <div class="measure">
      <div class="post-header">
        <h2>{{ page.title }}</h2>
      </div>

      {% if page.cover_image_url %}
      <img src={{ page.cover_image_url }} class="cover-image">
      {% endif %}
      <div class="mt1 mb1">
        <div class="center">
        {% include social.html %}
        <span class="inline-block mr1 span-quora">
          <a href="https://www.quora.com/profile/Jayant-Jain/activity">
            <img src="/images/glyphicon-quora.png" class="social-icon">
          </a>
        </span>
        <span class="inline-block span-goodreads">
          <a href="https://www.goodreads.com/review/list/9858064?shelf=read">
            <img src="/images/glyphicon-goodreads.png" class="social-icon">
          </a>
        </span>
        </div>
      </div>
      <article class="post-content">
        {{ content }}
      </article>
  </div>
</div>
